Draft: <%= draft %>
Arg: <%= JSON.stringify(arg) %>
==============================
Error Detail:
[message]
<%= error.message %>
[stack]
<%= error.stack %>
==============================
Result
<%= JSON.stringify(result) %>
